
body {
    background-image: url('http://newartcolorz.com/images/2014/9/free-sky-wallpaper-27461-28178-hd-wallpapers.jpg');
    background-size: 100%;
    background-attachment: fixed;
    text-decoration:none;
    }



.user {
  display: block;
  margin-left: 25em;
  margin-right: auto;
}


  h1 {
  font-family: 'Lobster', cursive;
  font-size: 4em;
}

.likes-link {
   text-decoration:none;
}
.links {
  text-decoration:none;
  font-family: 'Papyrus', cursive;
  color: #0000FF
;


}
.comment, h3 {
  font-family: 'Papyrus', cursive;
  font-size: 20px;
}

.email {
  font-size: 10px;
}

.descr {
  font-family: 'Lobster', cursive;
}




