
.user {

  display: block;
  margin-left: 25em;
  margin-right: auto;
}


  h1 {
  font-family: 'Lobster', cursive;
  font-size: 4em;
}

h2 {
  font-family: 'Lobster', cursive;
}

.likes-link {
   text-decoration:none;
}

.links {
  text-decoration:none;
  font-family: 'Papyrus', cursive;
  color: grey;
  font-size: 1.5em;
}

.comment, h3 {
  font-family: 'Papyrus', cursive;
  font-size: 20px;
}

.email {
  font-size: 10px;
}

.descr {
  font-family: 'Papyrus', cursive;
}




